{% extends 'adminbase.html.twig' %}

{% block title %}Hello adminController!{% endblock %}

{% block body %}
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">

                    <div class="card-body">
                        <h1>Setting Page</h1>
                        <table class="table table-hover">

                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>

                                <th>Company</th>

                                <th>Status</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for setting in settings %}
                                <tr>
                                    <td>{{ setting.id }}</td>
                                    <td>{{ setting.title }}</td>

                                    <td>{{ setting.company }}</td>


                                    <td>{{ setting.status }}</td>
                                    <td>

                                        <a href="{{ path('setting_show', {'id': setting.id}) }}" class="btn btn-rounded btn-info">Show</a>
                                        <a href="{{ path('setting_edit', {'id': setting.id}) }}" class="btn btn-rounded btn-secondary">Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="21">no records found
                                        <a href="{{ path('setting_new') }}" class="btn btn-rounded btn-brand">Create Settings</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src={{ asset('assets') }}/admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src={{ asset('assets') }}/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src={{ asset('assets') }}/admin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src={{ asset('assets') }}/admin/assets/libs/js/main-js.js"></script>
    {% endblock %}
